.orange {
    background-color: orange;
}
.purple {
    color: white;
    background-color: purple;
}
.red {
    background-color: red;
}
.teal {
    color: white;
    background-color: teal;
}
.yellow {
    background-color: yellow;
}

.bold {
    font-weight: bold;
}